* {
    background-color: white;
    vertical-align: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: verdana;
    font-size: 12px;
   
}

img {
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}

.icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px black;
    margin: 2px;
    
}

*:link {
    text-decoration: none;
}


#mainimg {
    width: 250px;
    height: 250px;
}
